body {
	background-color: #ddd;
	font: 14px 'Allerta Stencil';
	margin: 0;
	padding: 0;
}

#screen {
	background-color: #bbb;
	border: 0px solid #bbb;
	border-radius: 20px;
	-moz-border-radius: 20px;
	width: 0;
	height: 0;
}

#left, #center, #right {
	background-color: #fff;
}

.label {
	color: #666;
}

#action {
	color: #000;
}

#action.unhighlighted {
	color: #999;
}

#ghost-piece {
	opacity: 0.33;
}

.menu {
	font-size: 150%;
	opacity: 0.875;
}

.menu .buttons button {
	color: #666;
	background-color: #fff;
	border: 0;
	border-bottom: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	outline: 0;
	font: inherit;
	position: relative;
}

.menu .buttons button::-moz-focus-inner {
	border: 0; /* Firefox version of outline: none */
}

.menu .buttons button:focus {
	color: #333;
	background-color: #ffffe0;
}

#description {
	color: #333;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 20px;
	-moz-border-radius: 20px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	text-align: left;
	margin: 0 40px 1em;
	padding: 0 20px;
}

#description p {
	margin: 1em 0;
}

#description ul {
	padding-left: 2em;
}

a {
	color: #0645ad;
	text-decoration: none;
}

a:visited {
	color: #0b0080;
}

a:active {
	color: #faa700;
}

a:hover {
	text-decoration: underline;
}

a[rel~=external] {
	color: #36b;
}
