body {
	text-align: center;
}

audio {
	position: absolute;
	width: 0;
	height: 0;
}

.label {
	position: absolute;
}

.left {
	text-align: left;
	left: 0.5em;
}

.right {
	text-align: right;
	right: 0.5em;
}

.center {
	text-align: center;
	width: 100%;
}

#vertical-centering-wrapper {
	position: absolute;
	top: 50%;
	width: 100%;
}

#screen {
	position: relative;
	overflow: hidden;
}

#left,
#center,
#right {
	float: left;
	position: relative;
}

#playfield,
#playfield-background {
	position: absolute;
	top: 0;
	left: 0;
}

#falling-piece,
#ghost-piece,
#hold-piece,
.preview {
	position: absolute;
}

.small {
	transform: scale(0.875);
	-moz-transform: scale(0.875);
	-webkit-transform: scale(0.875);
	-o-transform: scale(0.875);
}

.smaller {
	transform: scale(0.75);
	-moz-transform: scale(0.75);
	-webkit-transform: scale(0.75);
	-o-transform: scale(0.75);
}

.menu {
	display: none;
	position: absolute;
	width: 100%;
}

.menu .buttons {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu .buttons button {
	position: relative;
	width: 8em;
	margin: 0;
	padding: 0.25em 0;
}
